

#titre
{
	font-size: 2.5em;
	text-transform: uppercase;
}


header
{
	background-color: #387ab8;
	width: auto;
	font-family: 'Lato', sans-serif;
	text-align: center;
	height: 150px;
	margin-bottom: 15px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

header img
{
	height: 90px;
}


body
{
	background-color: #e6e5e5;
	font-size: 1em;
}

nav a, footer a
{
	color:black;
	text-decoration: none;
}

article
{
	background-color: white;
	margin: 0px 0 15px 0px;
	padding: 1px 20px 15px 20px;

}

article h2
{
	font-size: 2em;
	text-decoration: underline;
	text-transform: uppercase;
}


footer
{
	text-align: center;
	padding: 1px 0 15px 0;
}


nav
{
	font-size: 1.8em;
	background-color: #FFFFFF;
	height: 100px;
	line-height: 100px;
	margin-bottom: 15px;
}

nav ul
{
	margin-right: 10px;
	display: flex;
	justify-content: space-between;
}

nav li
{
	list-style: none;
	text-align: right;
	margin-right: 15px;

}
